body {
  background-color: #6fa8dc;
  color: #ffffff;
  font-family: 'Quantico', sans-serif;
  font-weight: 400;
  font-size: 16px;
  align: center;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  vertical-align: middle;
}

h5 {
  font-size: 18px;
  font-weight: 900;
  padding-bottom: 10px;

}

ul.instructions {
  list-style-type: disc;
  list-style-position: outside;
}

ul.instructions li {
    font-size: 16px;
    font-weight: 400;
    margin-left: 30%;
}

.headerContainer {
  width: auto;
  margin-left: 25%;
  margin-right: 25%;
  overflow-x: visible;
}

.headerContainer::after {
    content: "";
    clear: both;
    display: table;
}

.logo {
  background-image: url('../images/logo.gif');
  width: 300px;
  height: 265px;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  margin-left: -50px;
  margin-top: 60px;

}

.headerContent {
  margin: 5px;
  padding: 20px;
  background-color: #2b78e4;
  border: 1px solid #ffffff;
  width: 70%;
  min-width: 600px;
  align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.raceTrack {
  margin-top: 30px;
  width: 100%;
  background-image: url('../images/roadway.gif');
  height: 250px;
  background-repeat: repeat-x;
  float: left;
  position: relative;
  min-width: 1024px;

}

.car1 {
  top: 20px;
  right: 20px;
  position: absolute;
}

.car2{
  top: 100px;
  right: 20px;
  position: absolute;
}

.stopLightContainer::after {
    content: "";
    clear: both;
    display: table;
}

.stopLight {
  height:259px;
  width: 159px;
  float: left;
  margin-top: 20px;
  margin-left: 10px;
  display: inline-block;
  background-image: url('../images/stopLight.gif');
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.start{
   background-position: -159px 0px;
}

.stop{
   background-position: 0px 0px;
}

#countDown {
  position: relative;
  top: 110;
  left: 55;
}
#startButton {
	-moz-box-shadow: 3px 4px 0px 0px #1564ad;
	-webkit-box-shadow: 3px 4px 0px 0px #1564ad;
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6fa8dc), color-stop(1, #2b78e4));
	background:-moz-linear-gradient(top, #6fa8dc 5%, #2b78e4 100%);
	background:-webkit-linear-gradient(top, #6fa8dc 5%, #2b78e4 100%);
	background:-o-linear-gradient(top, #6fa8dc 5%, #2b78e4 100%);
	background:-ms-linear-gradient(top, #6fa8dc 5%, #2b78e4 100%);
	background:linear-gradient(to bottom, #6fa8dc 5%, #2b78e4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6fa8dc', endColorstr='#2b78e4',GradientType=0);
	background-color:#6fa8dc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:12px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
  position: absolute;
  top: 30px;
  right: 30px;
}
#startButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2b78e4), color-stop(1, #6fa8dc));
	background:-moz-linear-gradient(top, #2b78e4 5%, #6fa8dc 100%);
	background:-webkit-linear-gradient(top, #2b78e4 5%, #6fa8dc 100%);
	background:-o-linear-gradient(top, #2b78e4 5%, #6fa8dc 100%);
	background:-ms-linear-gradient(top, #2b78e4 5%, #6fa8dc 100%);
	background:linear-gradient(to bottom, #2b78e4 5%, #6fa8dc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b78e4', endColorstr='#6fa8dc',GradientType=0);
	background-color:#2b78e4;
}
#startButton:active {
	top:31px;
}
