
body {
  background-color: #6fa8dc;
  color: #ffffff;
  font-family: 'Quantico', sans-serif;
  font-weight: 400;
  font-size: 14px;
  align: center;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  vertical-align: middle;
  line-height: 40px;
}

h5 {
  font-size: 16px;
  font-weight: 900;
  padding-bottom: 5px;

}

ul.instructions {
  list-style-type: disc;
  list-style-position: outside;
  margin-left:65px;
}

ul.instructions li {
  font-size: 14px;
  font-weight: 400;
  margin-left: 100px;
  line-height: 16px;
}

.headerContainer {
  width: auto;
  margin-left: 25%;
  margin-right: 25%;
  overflow-x: visible;
}

.headerContainer::after {
    content: "";
    clear: both;
    display: table;
}

.logo {
  background-image: url('../images/logo.gif');
  width: 300px;
  height: 265px;
  background-repeat: no-repeat;
  display: inline-block;
  float: left;
  margin-left: -50px;
  margin-top: 100px;
}

.headerContent {
  padding: 20px;
  background-color: #2b78e4;
  border: 1px solid #ffffff;
  width: 600px;
  align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15%;
  margin-right: 15%;
}

.raceTrack {
  margin-top: 30px;
  width: 100%;
  background-image: url('../images/roadway.gif');
  height: 400px;
  background-repeat: repeat;
  float: left;
  position: relative;
  min-width: 1024px;

}

.driverSubButton{
  visibility: hidden;
  float:right;
  display:inline;
}

.car1 {
  top: 20px;
  right: 20px;
  position: absolute;
}

.car2{
  top: 100px;
  right: 20px;
  position: absolute;
}

.stopLightContainer::after {
    content: "";
    clear: both;
    display: table;
}

.stopLight {
  height:259px;
  width: 159px;
  float: left;
  margin-top: 20px;
  margin-left: 10px;
  display: inline-block;
  background-image: url('../images/stopLight.gif');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  position: relative;
}

.start{
   background-position: -166px 0px;
}

.stop{
   background-position: 0px 0px;
}

#countDown {
  position: relative;
  top: 102px;
  left: 58px;
  font-size: 55px;
}

.gameButton {
	-moz-box-shadow: 3px 4px 0px 0px #1564ad;
	-webkit-box-shadow: 3px 4px 0px 0px #1564ad;
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6fa8dc), color-stop(1, #2b78e4));
	background:-moz-linear-gradient(top, #6fa8dc 5%, #2b78e4 100%);
	background:-webkit-linear-gradient(top, #6fa8dc 5%, #2b78e4 100%);
	background:-o-linear-gradient(top, #6fa8dc 5%, #2b78e4 100%);
	background:-ms-linear-gradient(top, #6fa8dc 5%, #2b78e4 100%);
	background:linear-gradient(to bottom, #6fa8dc 5%, #2b78e4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6fa8dc', endColorstr='#2b78e4',GradientType=0);
	background-color:#6fa8dc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #337bc4;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:9px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
  position: relative;
	display:inline;
  top: 0px;
}

.gameButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2b78e4), color-stop(1, #6fa8dc));
	background:-moz-linear-gradient(top, #2b78e4 5%, #6fa8dc 100%);
	background:-webkit-linear-gradient(top, #2b78e4 5%, #6fa8dc 100%);
	background:-o-linear-gradient(top, #2b78e4 5%, #6fa8dc 100%);
	background:-ms-linear-gradient(top, #2b78e4 5%, #6fa8dc 100%);
	background:linear-gradient(to bottom, #2b78e4 5%, #6fa8dc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b78e4', endColorstr='#6fa8dc',GradientType=0);
	background-color:#2b78e4;
}

#startButton {
  display:none;
  left: 40px;
}

#players2 {
  left: 10px;
}

#players3 {
  left: 40px;
}

#players4 {
  left: 70px;
}

.gameButton:active {
	top: 1px;
}

#modalContainer{
  display: none;
}

.modalTitle{
  height: 20px;
  margin: 0px;
  padding: 1px;
  color:  #6fa8dc;
  background-color: #fff;
  font-size: 16px;
}

.easy-modal-animated {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 550px;
  height: 350px;
  margin-right: 15%;
  background-color: #6fa8dc;
  border: 2px solid #ffffff;
  border-radius: 5px;
}

.modalContent {
  padding: 5px;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
  align: 80%;
  background-color: #2b78e4;
}
.modalRow {
  margin-bottom: 15px;
}
.modalRow input {
  margin-right: 15%;
}

.modalForm {
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10%;
  margin-right: 10%;
  align: center;
  width: 90%;
}

.modalLabel {
  margin-right: 10px;
  font-size: 12px;
  color: #fff;
  background-color: #6fa8dc;
  padding: 0px;
}

.carForm {
  display: inline-block;
  position: relative;
  float: left;
  align: center;
  margin-left: 10px;
  margin-right: 10px;
  height:50px;
}

.carImage {
  vertical-align: bottom;
  position: relative;
  top: 50%;
  left: 5px;
}

.carChoice {
  display: inline-block;
  position: relative;
  left: 0px;
  top: 60%;
}

.imageRadios {
  width:100%;
  overflow-x: visible;
  overflow-y: visible;
  vertical-align: bottom;
}

.imageRadios::after {
  content: "";
  clear: both;
  display: table;
}

#driverFormSubmit {
  position: absolute;
  top: 80%;
  right:10%;

}
